.container{
    width: auto;

    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    /* width: 25%; */
    /* margin-left: 570px; */
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table{
    margin: auto;
    margin-top: 10px;


}

input{
    font-size: 30px;
    height: 40px;
    width: auto;
    border: 3px solid burlywood;
    border-radius: 5px;
}

button{
    font-size: 25px;
    background-color: burlywood;
    border-radius: 5px;
    width: 75px;
    height: 50px;
    margin: 3px;
}

.equal{
    width:47%;
    /* display: inline; */
}

div>h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}